body {
    background-color: rgb(31, 30, 30);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.square {
    width: 30%;
    background: palevioletred;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

#container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    color: aliceblue;
}

#message {
    color: white;
}